.footer {
    width: 100%;
    float: left;
    background-image: url(https://img.freepik.com/free-photo/front-view-sweet-bakery-arrangement-with-copy-space_23-2148654059.jpg?w=1060&t=st=1700585633~exp=1700586233~hmac=a2fff62c7ffdc2ed9e3125377f34719ebc616b3f600648131191334b9bc88c9a);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
   
}